parameters:
	level: 0

	# Make sure PHPStan knows about vendor autoload
	bootstrapFiles:
		- vendor/autoload.php

	# Explicitly exclude vendor from scanning
	excludePaths:
		- vendor

	ignoreErrors:
		# The `wpdb` class exposes its properties via `__get()`
		- '#^Access to protected property wpdb::#'
		# Passing ints and floats to these functions is fine
		- '#^Parameter \#1 \$text of function (esc_html|esc_attr) expects string, int\|string given#'
		- '#^Parameter \#1 \$text of function (esc_html|esc_attr) expects string, float\|int\|string given#'
